@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


body, .login-pf body, .login-pf {
  @apply bg-gray-50;
}

.login-pf {
  background: rgba(249, 250, 251, var(--tw-bg-opacity)) !important;
}

.login-pf-page {
  @apply min-h-screen bg-gray-50 flex flex-col justify-center py-12 sm:px-6 lg:px-8;
}

#kc-header, .login-pf-page-header {
  @apply mb-6;
}

#kc-header-wrapper {
  background-image: url(../img/630x630-blue.png);
  background-size: 8rem;
  @apply h-32 w-full bg-no-repeat bg-center text-transparent;
}

#kc-locale-wrapper {
  @apply mb-2
}

div.kc-logo-text span {
  @apply hidden;
}

.card-pf {
  @apply mt-4 sm:mx-auto sm:w-full sm:max-w-md bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10;
}

form {
  @apply space-y-6;
}

.form-group label {
  @apply block text-sm font-medium text-gray-700 cursor-default pb-1;
}

.form-group input[type="password"], .form-group input[type="text"] {
  @apply appearance-none block w-full border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-purple-500 focus:border-purple-500 sm:text-sm;
}

.form-group input[type="checkbox"] {
  @apply rounded border-gray-300 text-purple-600 shadow-sm focus:border-purple-300 focus:ring focus:ring-offset-0 focus:ring-purple-200 focus:ring-opacity-50;
}

.login-pf-header h1 {
  @apply mt-2 text-center text-3xl font-extrabold text-gray-900 mb-4;
}

#id-hidden-input {
  @apply hidden;
}

#rememberMe {
  @apply h-4 w-4 text-purple-600 focus:ring-purple-500 border-gray-300 rounded;
}

#kc-form-options {
  label {
    @apply block text-sm text-gray-900;
  }
  a {
    @apply text-purple-600 hover:text-purple-700;
  }
}

.login-pf-settings {
  @apply flex items-baseline;
}

.login-pf-settings div span a {
  @apply font-medium text-sm text-purple-600 hover:text-purple-500 no-underline;
}

.login-pf-settings div span a:hover {
  @apply no-underline;
}

#kc-registration a {
  @apply font-medium text-purple-600 hover:text-purple-500;
}

#kc-registration a:hover {
  @apply no-underline;
}

.form-group input[type="checkbox"] {
  @apply p-0;
}

.login-pf-page .login-pf-signup {
  @apply mt-5;
}

.checkbox, .radio {
  position: inherit;
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
}

.card-pf .form-group:last-child {
  @apply flex flex-col-reverse justify-center items-center
}

.card-pf #kc-form-options {
  @apply mt-2;
}

.form-group-cgu {
  @apply flex justify-center items-center flex-row;
}

.form-group-cgu {
  margin-left: -1px !important;
}

.form-group-cgu input {
  @apply h-4 w-4 text-purple-600 focus:ring-purple-500 border-gray-300 rounded mb-0.5;
}

.form-group-cgu label {
  @apply ml-2 block text-sm text-gray-900 mb-0;
}

.form-group-cgu label a {
  @apply font-medium text-purple-600 hover:text-purple-500;
}

.pf-c-dropdown__menu {
  @apply hidden -mt-2.5;
}

.pf-c-dropdown__menu:hover {
  @apply block;
}

#kc-current-locale-link {
  @apply font-medium text-purple-600 hover:text-purple-500;
}

#kc-current-locale-link:hover + .pf-c-dropdown__menu {
  @apply block;
}

#kc-social-providers {
    @apply text-center;
    h4 {
        @apply py-8;
    }
    ul a {
        @apply inline-flex justify-center py-2 px-4 border border-transparent shadow-sm rounded-md text-white bg-gray-600 hover:bg-gray-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-500
    }
    .kc-social-provider-name {
        @apply pl-3 leading-4 flex items-center;
    }
    .kc-social-provider-logo {
        @apply text-xl;
    }
}

#kc-terms-text {
  margin-bottom: 40px;
  text-align: justify;
  a {
    @apply text-purple-600 hover:text-purple-700;
  }
}

#kc-form-buttons {
  & > div {
    @apply space-y-4;
  }
}

.pf-c-button {
  @apply w-full flex py-2 px-4 border border-transparent rounded-md justify-center text-sm font-medium focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-50;
}

.pf-c-button.pf-m-primary {
  @apply shadow-sm text-white bg-purple-600 hover:bg-purple-700
}

.pf-c-button.btn-default {
  @apply shadow-none bg-none bg-white text-purple-600 hover:text-purple-500;
}
